* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}


/* HEADER */
nav {
    background-color: #F2F2F2;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    max-width: 980px;
    margin: 0 auto;
    font-size: 0.75rem;
    font-weight: 400;
}

#navbar a {
    color: #3d3d3d;
}

#navbar img {
    width: 13px;
}

#secondNav-wrap {
    background-color: #FBFBFD;
}

.shiftHidden {
    padding-left: 400px;
    opacity: 0;
    transition: 500ms;
}

.shiftShow {
    padding-left: 0;
    opacity: 1;
    transition: 500ms;
}



#gadgets {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 0.75rem;
    font-weight: 400;
    max-width: 1020px;
    margin: 0 auto;
    padding: 12px 0;
}

#gadgets li {
    text-align: center;
    cursor: pointer;
}

#gadgets p {
    color: #3d3d3d;
    padding-top: 5px;
}

#gadgets span {
    color: #C04B07;
    font-size: .6rem;
}


/* IPHONE 14 */
#iphone14 {
    position: relative;
}

#installments.normal {
    font-size: .75rem;
    color: #3d3d3d;
    text-align: center;
    padding: 12px;
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    transition: 500ms;
}

.saibaMais {
    color: #0777ED;
    cursor: pointer;
    transition: 500ms;
}

.saibaMais .underline:hover {
    text-decoration: underline;
    transition: 500ms;
}

#installments.hidden {
    font-size: .75rem;
    color: #fff;
    text-align: center;
    padding: 12px;
    background-color: #0777ED;
    position: absolute;
    width: 100%;
    top: -39px;
    z-index: -1;
}

#installments.show {
    font-size: .75rem;
    color: #fff;
    text-align: center;
    padding: 12px;
    background-color: #0777ED;
    position: absolute;
    width: 100%;
    top: 0px;
    transition: 1000ms ease-in-out;
}

.iphone14-wrap {
    text-align: center;
    padding-top: 100px;
}

.iphone14-wrap p:first-of-type {
    padding-bottom: 12px;
    color: #6E6E73;
    font-weight: 100;
    letter-spacing: .8px;
}

.iphone14-wrap h1 {
    font-size: 1.4rem;
    padding-bottom: 13px;
    font-weight: 400;
}

.iphone14-wrap h3 {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 28px;
}

.iphone14-wrap p:nth-of-type(2) {
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: 20px;
}

.comprar {
    border: none;
    background-color: #0670E3;
    color: #fff;
    padding: 9px 18px;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 25px;
    cursor: pointer;
}

.comprar:hover {
    opacity: .95;
}

.iphone14-links {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px
}

.iphone14-links span {
    font-size: 1.2rem;
}

/* IPHONE 14 PRO */

.iphone14pro-wrap {
    text-align: center;
    padding-top: 150px;
    background-color: #000;
    color: #fff;
}

.iphone14pro-wrap p:first-of-type {
    padding-bottom: 12px;
    font-weight: 100;
    letter-spacing: .8px;
}

.iphone14pro-wrap h2 {
    font-size: 1.4rem;
    padding-bottom: 13px;
    font-weight: 400;
}

.iphone14pro-wrap h3 {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 28px;
}

.iphone14pro-wrap p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.iphone14pro-links {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px
}

/* IPHONE SE */
.iphonese-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FBFBFD;
}

#iphonese-hero {
    display: block;
    width: 494px;
    flex-grow: 0;
}

.iphonese-wrap.left {
    flex-grow: 3;
    margin: 0 auto;
}

.iphonese-wrap p:first-of-type {
    padding-bottom: 12px;
    font-weight: 100;
    letter-spacing: .8px;
}

.iphonese-wrap h2 {
    font-size: 1.4rem;
    padding-bottom: 13px;
    font-weight: 400;
}

.iphonese-wrap h3 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 0;
    background: -webkit-linear-gradient(-180deg, #213C9A, #385FDA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iphonese-wrap p {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 35px 0 20px 0;
}

.iphonese-links {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px
}

#logo-se img {
    display: inline-block;
    width: 25px;
    padding-bottom: 18px;
}

#logo-se {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* COMPARE */
#choice {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 120px;
    background-color: #fff;
}

#choice h2 {
    font-size: 3rem;
    font-weight: 500;
}

#table-compare {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.head,
.screen-size,
.dynamic,
.sos,
.camera,
.action,
.battery,
.chip,
.faceid,
.fiveg {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: 20px;
}


.head {
    margin-top: 80px;
}

.colors {
    margin: 0 auto;
    height: 10px;
    align-self: flex-start;
    align-items: flex-start;

}

.new {
    color: #C04B07;
    font-size: 0.8rem;
}

#choice h5 {
    font-size: 1.4rem;
    font-weight: 400;
}

.name {
    padding-bottom: 8px;
}

#choice h6 {
    font-size: 1.1rem;
    font-weight: 100;
}

#choice h6:first-of-type {
    margin-top: -20px;
    margin-bottom: 20px;
}

.screen-size h5 {
    padding-top: 30px;
    margin-bottom: -15px;
}

#choice p {
    font-size: .85rem;
    font-weight: 300;
    margin: 0 15px;
}

#choice button {
    font-size: .8rem;
    padding: 5px;
    width: 75px;
    margin: 0 auto -5px auto;
}

.divise {
    padding-bottom: 35px;
    border-bottom: 1px solid #D2D2D7;
}

.icon {
    padding-top: 50px;
    align-self: flex-start;
    margin: 0 auto -10px auto;
}

.title {
    margin-bottom: 0;
}

.description {
    line-height: 1.3rem;
    color: #6E6E73;
    margin-top: -15px;
    margin-bottom: -5px;
}

.description span {
    line-height: 2.6rem;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.phone {
    height: 257px;
    align-self: flex-start;
    margin: 0 auto;
}

.dynamic,
.action {
    margin: auto;
}

.camera:last-of-type {
    margin-bottom: 21px;
}

.chip:first-of-type {
    margin-bottom: 15px;
}

.divise2 {
    padding-bottom: 70px;
    border-bottom: 1px solid #D2D2D7;
}

.choice-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 55px;
    font-size: 1.2rem;
    color: #0566CC;
}


/* ENJOY APPLE */

#enjoy {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#enjoy h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 150px;
    padding-bottom: 80px;
}

.left,
.right {
    flex-grow: 1;
    width: 50%;
    padding: 50px;
}

.one {
    display: flex;
    margin: 0 15px;
    background-color: #fff;
    padding: 50px;
}

.left img {
    width: 120%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 70%;
    padding-bottom: 40px;
}

.right h6 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}



/* ENJOY SECOND ROW */
.cards-wrap {
    display: flex;
    gap: 15px;
    max-width: 1231px;
    padding-bottom: 25px;
    margin: 0 15px;
    justify-content: center;
}

.tvplus,
.music {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
}

#tvlogo,
#musiclogo {
    align-self: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

#musiclogo {
    width: 25%;
}

#tvlogo {
    width: 18%;
}

.tvplus {
    background-color: #000;
    color: #fff;
}

.music {
    background-color: #DDDDDD;
}

.descrip {
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: center;
    font-weight: 100;
}

#playTv,
#playMusic {
    width: 30px;
    align-self: flex-end;
    margin-right: 20px;
    cursor: pointer;
    padding: 30px 0;
}


/* carousel */
.carousel1,
.carousel2,
.carouselMusic {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    overflow: auto;
}

.carousel1{
    margin-top: 20px;
    position: relative;
}
.carousel2 {
    margin-bottom: 40px;
    position: relative;
}

.thumb {
    margin: 7px 0;
    align-self: flex-start;
    width: 230px;
    height: 129.4px;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.thumb img {
    border-radius: 10px;
}

.playThumbWrap1,
.playThumbWrap2 {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 5px 10px;
    background-color: #fff;
    color: #3d3d3d;
    border-radius: 25px;
    align-self: center;
    opacity: 1;
    transition: .3s;
}

.playThumbWrap1 p,
.playThumbWrap2 p {
    padding-right: 5px;
}

.car1 {
    display: flex;
    width: 100%;
    transition: .3s;
}

.imgThumbHover {
    opacity: .7;
}

.playThumb {
  width: 20px;
  align-self: center;
}

.hiddenThumb {
    /* display: none; */
    margin-top: 20px;
    opacity: 0;
    cursor: pointer;
}

.musicThumb {
    padding-top: 15px;
    align-self: center;
    padding-bottom: 100px;
    height: 390px;
    cursor: pointer;
}

.selected {
    width: 310px;
    height: auto;
}


/* LINKS */
.linksServices,
.freeTest {
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

.bigLink {
    font-size: 1.3rem;
    font-weight: 300;
    white-space: nowrap;
}

.bigLink sup {
    font-size: .6rem;
}

.freeTest img {
    width: 15px;
    padding-top: 5px;
}

.linksServices {
    gap: 20px;
    padding-top: 30px;
}


/* ADVERSMENTS */
#advertments {
    background-color: #F5F5F7;
    padding: 25px 0;
    color: #6E6E73;
}

#advertments a {
    color: #424245;
    text-decoration: underline;
}

.adversments-wrap {
    max-width: 1000px;
    margin: 0 auto;
    font-size: .75rem;
    font-weight: 100;
    line-height: 1.1rem;
}

.adversments-wrap p,
.adversments-wrap li {
    padding-bottom: 10px;
    list-style: decimal;
}

.adversments-wrap li {
    margin-left: 20px;
}




/* FOOTER */
footer{
    background-color: #F5F5F7;
}

#footer-one {
    display: flex;
    align-items: center;
}

#footer-one img{
    width: 13px;
    margin-left: 10px;
    margin-right: 5px;
}


.big {
    font-size: 1.2rem;
    font-weight: 100;
    padding-right: 5px;
}

.footer-links,
#footer-one,
.bottom {
    max-width: 1000px;
    margin: 0 auto;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.1rem;
    display: flex;
    flex-direction: row;
}

.footer-links a {
    color: #6E6E73;
    padding-bottom: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links p {
    padding: 20px 0 10px 0;
}

.column div {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: wrap;
}

.column {
    flex-grow: 1;
    width: 20%;
    padding: 15px;
}

.bottom{
    flex-direction: column;
    color: #A9A9AC;
}

.bottom a {
    color: #4a95e5;
}

.links-privacity a {
    color: #6E6E73;
    border-right: 1px solid #A9A9AC;
    padding-right: 15px;
    margin-bottom: 30px;
}
.links-privacity {
    display: flex;
    gap: 15px;
}

.divise3 {
    border-bottom: 1px solid #A9A9AC;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}